NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BRAND_NAME=GoYatrio
API_PORT=4000
NODE_ENV=development
API_CORS_ORIGIN=http://localhost:3000

# Future integrations
DATABASE_URL=
JWT_SECRET=
SEED_ADMIN_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
